<th class="px-6 py-4 font-medium text-gray-900"><%= municipality.id %></th>
<td class="px-6 py-4"><%= municipality.country%></td>
<td class="px-6 py-4"><%= municipality.postal_code %></td>
<td class="px-6 py-4"><%= municipality.city %></td>
