<nav class="space-y-1">
    <%= link_to "Patients", patients_path, class: "flex items-center px-3 py-2 text-sm font-medium text-gray-700 rounded hover:bg-gray-100" %>
    <%= link_to "Orders", "#", class: "flex items-center px-3 py-2 text-sm font-medium text-gray-700 rounded hover:bg-gray-100" %>
</nav>
